


p{
    color: mediumslateblue;
}
.text{
    color: darkred;
}
.fon{
    font-size: 25px;
    font-weight: bold;
}
.wive{
    color: mediumvioletred;
    font-size: 25px;
    font-weight: bold;
}
#bg{
    background-color: black;
}
#ba{
    background-color: black;
}